---
layout: base.njk
title: About
eleventyNavigation:
    key: About
    order: 3
---

<article class="about">
    {% include "_components/our-story.njk" %}

    <section class="about__team">
        <h2>Meet the team!</h2>
        <ul>
            <li>
                <figure>
                    <img src="../assets/img/team1.jpg">
                </figure>
                <h3>Pablo Escobar</h3>
                <p>Marketing</p>
            </li>

            <li>
                <figure>
                    <img src="../assets/img/team2.jpg">
                </figure>
                <h3>Jeff Bezos</h3>
                <p>Front-end dev</p>
            </li>

            <li>
                <figure>
                    <img src="../assets/img/team3.jpg">
                </figure>
                <h3>Mark Zuck</h3>
                <p>Back-end dev</p>
            </li>

            <li>
                <figure>
                    <img src="../assets/img/team4.jpg">
                </figure>
                <h3>Bill Gates</h3>
                <p>Designer</p>
            </li>
        </ul>
    </section>
</article>