---
layout: base.njk
title: About
eleventyNavigation:
    key: About
    order: 3
---

<article class="about">
    {% include "_components/our-story.njk" %}

    <section class="about__team">
        <ul>
            <li>
                
            </li>
        </ul>
    </section>
</article>