---
layout: base.njk
title: Checkout-1
---
<article class="product">
    <h2>Product overview > <span>Delivery data and payment</span></h2>
    
    <section class="product__top">
        <div class="product__card-container">
           
        </div>

        <div class="product__top__overview">
            <div class="product__top__overview--top">
                <div>
                    <p>Montsera</p>
                    <p>€85</p>
                </div>

                <div>
                    <p>Shipping costs</p>
                    <p>€5</p>
                </div>
            </div>

            <div class="product__top__overview--bottom">
                <p>Subtotaal</p>
                <p>€90</p>
            </div>
            
            <a href="../checkout-2">
                <button class="button--primary">Continue</button>
            </a>
        </div>
    </section>
</article>