---
layout: base.njk
title: Checkout-1
---

<article class="product">
    <h2>Product overview > <span>Delivery data and payment</span></h2>
    
    <section class="product__top">
        <div class="product__top__card">
            <figure class="product__top__card--img">
                <img src="../assets/img/plant-card.png">
            </figure>

            <section class="product__top__card--content">
                <div class="product__top__card--content__top">
                    <div>
                        <h3>Montsera</h3>
                        <span>X</span>
                    </div>

                    <div>
                        <p>Plant: <span>Montsera</span></p>
                        <span>€85</span>
                    </div>

                    <div>
                        <p>Pot: <span>Ceramic</span></p>
                        <span>€5</span>
                    </div>
                </div>

                <div class="product__top__card--content__bottom">
                    <input type="number" value="1" min="1" max="100">
                    <span>€90</span>
                </div>
            </section>
        </div>

        <div class="product__top__overview">
            <div class="product__top__overview--top">
                <div>
                    <p>Montsera</p>
                    <p>€85</p>
                </div>

                <div>
                    <p>Shipping costs</p>
                    <p>€5</p>
                </div>
            </div>

            <div class="product__top__overview--bottom">
                <p>Subtotaal</p>
                <p>€90</p>
            </div>

            <button class="button--primary">Continue</button>
        </div>
    </section>
</article>