---
layout: base
title: Checkout-2
---

<article class="delivery">
    <h2><span>Product overview</span> > Delivery data and payment</h2>

    <article class="delivery__container">
        <section class="delivery__container__overview">
            <div class="delivery__container__overview--top">
                <h3>Overview</h3>
                <div>
                    <p>Items</p>
                    <p>€90</p>
                </div>

                <div class="delivery__container__overview--top__item-list">
                    <p>Montsera</p>
                    <p>€90</p>
                </div>

                <div>
                    <p>Delivery fee</p>
                    <p>€5</p>
                </div>
            </div>

            <div class="delivery__container__overview--bottom">
                <form>
                    <label>Promo code</label>
                    <input for="text">
                </form>
                <div>
                    <p class="delivery__container__overview--bottom__total">Total</p>
                    <p>€95</p>
                </div>
            </div>
        </section>

        <section class="delivery__container__details">
            <h2>Delivery Adress</h2>
            <div class="delivery__container__detail__item">
                <h3>Home adress</h3>
                <p>Bram Criel</p>
                <p>Brandstraat 35c</p>
                <p>Beervelde</p>
            </div>

            <div class="delivery__container__detail__item--alt">
                <h3>Alternative adress</h3>
                <p>Bram Criel</p>
                <p>Brandstraat 35c</p>
                <p>Beervelde</p>
            </div>

            <h2>Delivery Date</h2>
            <div class="delivery__container__detail__item">
                <h3>2 Days</h3>
                <p>Montsera</p>
                <p>Bpost</p>
                <p>€0.70</p>
            </div>
        </section>
    </article>    
</article>