---
layout: base.njk
title: Log In
eleventyNavigation:
    key: Log In
    order: 4
---

<article class="registration">
    <section class="registration__log-in">
        <h2>Log in</h2>

        <form class="form">
            <div class="form__item">
                <label class="form__item--label" for="e-mail">E-mail</label>
                <input id="login-email" class="form__item--input" for="e-mail" type="mail" placeholder="example@mail.be">
            </div>

            <div class="form__item">
                <label class="form__item--label" for="pass">Password</label>
                <input id="login-password"  class="form__item--input" for="pass" type="password" placeholder="*******">
            </div>
            
            <div class="form__bottom">
                <a href="">Forgot password?</a>
                <button class="button--primary" type="submit">Log in</button>
            </div>
        </form>
    </section>

    <section class="registration__middle">
        <h3>OR</h3>
    </section>

    <section class="registration__register">
        <h2>Register now!</h2>

        <form class="form">
            <div class="form__item">
                <label class="form__item--label" for="username">Username</label>
                <input id="register-username" class="form__item--input" for="username" type="text" placeholder="Bestusername1">
            </div>

            <div class="form__item">
                <label class="form__item--label" for="pass">Password</label>
                <input id="register-password" class="form__item--input" for="pass" type="password" placeholder="*******">
            </div>

            <div class="form__item">
                <label class="form__item--label" for="pass2">Re-enter password</label>
                <input class="form__item--input" for="pass2" type="password" placeholder="*******">
            </div>

            <div class="form__item">
                <label class="form__item--label" for="e-mail">E-mail</label>
                <input  id="register-email"  class="form__item--input" for="e-mail" type="mail" placeholder="example@mail.be">
            </div>

            <button class="button--primary">Register</button>
        </form>
    </section>
</article>