body {
    background-color: $color-bg;
}

.container {
    max-width: 85rem;
    margin: 0 auto;
    padding: $spacing-base;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}