.story {
    &__img {
        max-width: 100%;
        height: 20rem;
        margin-bottom: $spacing-lg;

        @media (min-width: $medium-container) {
            width: 45%;
        }

        @media (min-width: $large-container) {
            height: 30rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $radius-md;
            box-shadow: 6px 10px 31px 0px rgb(170, 170, 170);
        }
    }

    &__content {
        h2,
        p {
            margin-bottom: $spacing-sm;
        }

        a {
            color: $color-info;
            text-decoration: underline;
        }

        @media (min-width: $medium-container) {
            width: 45%;
        }
    }

    @media (min-width: $medium-container) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}