.about {
    margin-bottom: $spacing-xxl;

    &__team {
        h2 {
            margin-bottom: $spacing-lg;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: 45%;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: $spacing-md;

                @media (min-width: $medium-container) {
                    width: 18%;
                }
            }
            
            figure {
                width: 10rem;
                height: 10rem;
                margin-bottom: $spacing-md;

                @media (min-width: $large-container) {
                    width: 15rem;
                    height: 15rem;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: $spacing-md;
                border-radius: 100%;
                filter: brightness(80%);
                transition: 0.2s ease;

                &:hover {
                    filter: brightness(100%);
                }
            }

            h3 {
                margin-bottom: $spacing-sm;
                width: 100%;
            }
        }
    }
}