.product {
    margin-bottom: $spacing-xxl;

    h2 {
        margin-bottom: $spacing-lg;

        span {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__card {
            background-color: $color-white;
            box-shadow: $shadow-box;
            border-radius: $radius-md;
            display: flex;
            width: 100%;
            margin-bottom: $spacing-lg;

            @media (min-width: $medium-container) {
                width: 60%;
            }

            &--img {
                background-color: $color-blue-light;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                padding: $spacing-base 0;
                
                img {
                    width: 50%;
                }
            }

            &--content {
                padding: $spacing-sm $spacing-base;
                width: 70%;

                &__top {
                    border-bottom: solid 2px $color-black;
                    padding-bottom: $spacing-base;

                    div {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;

                        &:first-child {
                            margin-bottom: $spacing-sm;
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }

                &__bottom {
                    padding-top: $spacing-base;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    span {
                        font-weight: bold;
                        font-size: $text-md;
                    }

                    input {
                        width: 2.5rem;
                        padding: 0.2rem;
                    }
                }
            }
        }

        &__overview {
            background-color: rgba(255, 255, 255, 0.87);
            box-shadow: $shadow-box;
            border-radius: $radius-md;
            padding: $spacing-base;
            width: 100%;
            height: 100%;
            // width: calc(100% - 2rem);
            // position: absolute;
            // bottom: 0;

            @media (min-width: $medium-container) {
                width: 30%;
            }

            &--top {
                border-bottom: solid 2px $color-black;
                padding-bottom: $spacing-base;

                div {
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                    padding-bottom: $spacing-sm;
                }
            }

            &--bottom {
                padding-top: $spacing-base;
                padding-bottom: $spacing-base;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }

            button {
                width: 100%;
            }
        }
    }
}