// Colors
$main-green: #415E46;
$secondary-green: #EEF2EE;
$accent-green: #40C479;

$main-white: #F9F9F9;
$secondary-white: #ffff;

$main-black: #0000;
$secondary-black: #000000c9;

$main-blue: #257C81;
$secondary-blue: #EEF2F2;