// Colors
$primary: #020000;
$gray: #555555;
$whitish: #f1ecdf;
$titel-green: #436428;
$main-green: #3a5425;
$yellow: #ffe920;
$green: #0ba500;
$red: #d80000;
$background: #f9f9f9;
$black: #292929;
$brown: #895422;
$button-label:#9b8c51;
$button-label-dark:#8a7e52;
$selected: #d6b663;


// Font-size
$text-sm: .85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 2rem;

// Widths
$large-container: 1240px;
$small-image: 6rem;

// Radius
$radius-sm: 0.25rem;
$radius-base: 1rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;
