// Colors
$color-primary: #415E46;
$color-green-light: #EEF2EE;
$color-green-accent: #40C479;
$color-green-btn: #009063;

$color-bg: #F9F9F9;
$color-white: #ffff;

$color-black: #000000;
$color-black-light: #000000c9;

$color-info: #257C81;
$color-blue-light: #EEF2F2;

$color-red: #FD7B38;
$color-red-dark: #C75313;

// Font-size
$text-sm: .85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-ml: 1.50rem;
$text-lg: 2rem;
$text-xl: 3rem;
$text-xxl: 6rem;

// Widths
$small-container: 35rem;
$medium-container: 45rem;
$large-container: 75rem;

// Radius
$radius-sm: 0.25rem;
$radius-md: 0.50rem;
$radius-base: 1rem;
$radius-lg: 1.5rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-ml: 2rem;
$spacing-lg: 2.5rem;
$spacing-xl: 4rem;
$spacing-xxl: 6rem;

// Shadow
$shadow-box: 6px 10px 31px 0px rgb(170, 170, 170);